.main {
    border: 2px solid rgb(8, 4, 4);
    margin: 0 auto;
    width: 220px;

}

.add-number {
    width: 95%;
    background-color: gray;
    color: white;
}

.clearBtn {
    width: 99%;
    margin-top: 10px;
    background-color: gray;
}

.Btn {
    margin: 0.5px;
    background-color: gray;
    width: 49px;
}